<form>
  <table>
    <tr>
      <td>Texto:</td>
      <td><input  [(ngModel)]="texto_input" name="texto_input" id="texto_input" required (change)="verifica()"/></td>
    </tr>
    <tr>
      <td>Numérica: </td>
      <td><input [(ngModel)]="numerico_input" type="number" name="numerico_input" id="numerico_input"  required (change)="verifica()"/></td>
    </tr>
    <tr>
      <td>Comentario: </td>
      <td><input [(ngModel)]="comentario_input" type="text" name="comentario_input" id="comentario_input" /></td>
    </tr>
    <tr>
      <td>Selector:</td>
      <td> <select [(ngModel)]="seleccionado_input" id="seleccionado_input" name="seleccionado_input" required (change)="verifica()">
      <option [value]="seleccionado" *ngFor="let seleccionado of selector_input">{{seleccionado}}</option>
            </select> </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <input type="submit" [disabled]="botonDeshabilitado"/>
      </td>
    </tr>
  </table>
</form>